@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&family=Oswald:wght@500&family=Passero+One&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.link a {
		font-family: 'Langar', cursive;
    font-family: 'Lato', sans-serif;
}

.link-lang {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.responsive {
  max-width: 100%;
  height: auto;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.title-logo {
	font-size: 32px;
	font-family: 'Nunito' sans-serif;
	color:#797979;
}


.title-logo-2 {
	font-size: 32px;
font-family: 'Odibee Sans', cursive;
	color:#d83030;
}

.info-index {
	font-size: 16px;
	color: #fff;
}

.margin-little-10 {
	margin: 10px;
}

.heart {
   margin-top: 6px;
   position: absolute;
   margin-left: 5px;
}

.heart-display-inline {
font-size: 32px;
font-family: 'Odibee Sans', cursive;
	color:#d83030;
	display: inline-block;
	margin: 5px;
}

.heart-display-blo {
font-size: 32px;
font-family: 'Odibee Sans', cursive;
	color:#d83030;
	display: block;
	margin: 5px;
}
.img-heart {
	display: inline-block;
	margin-top: 5px;
	position: relative;
}

.display-block {
	display: block;
}

img.vik  {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  display: inline;
	float: left;
	margin: 10px;
	border-radius: 15px;
}

img.viki  {
	-webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  display: inline;
	float: left;
	margin: 10px;
	border-radius: 15px;
}

img.vikin {
	-webkit-filter: saturate(4);
	filters: saturate(4);
	display: inline;
	float: left;
	margin: 10px;
	border-radius: 15px;
}

img.viking {
	-webkit-filter: contraste(1);
	filters: contraste(1);
	display: inline;
	float: left;
	margin: 10px;
	border-radius: 15px;
}

.center {
	display: flex;
	flex-direction: center;
}

.right {
	width: 300px;
	float: right;
	position: relative;

}

.flix:before {
	zoom: 1;
}

.astra {
		width: 300px;
	float: left;
	position: relative;
	margin-bottom: 10px;
}


.background-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#top {
	position: relative;
	padding: 20px 20px 5px;
}

.images_background-VUGjsh {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#hero {
	position: relative;
	background-position: 50%;
	background-size: cover;
	background-color: #555;
	margin: 0 0 20px;
	text-align: center;
	transition: .8s;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 700px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #575151;
}

.FYjdkfRas {
	color: rgb(0, 0, 0);
	font-family: 'Passero One', cursive;
}

.FYjdkfRass {
	color: rgb(32, 134, 142);
	font-family: 'Passero One', cursive;
}

.laro {
	color: rgba(31, 144, 33, 1);
	font-family: 'Passero One', cursive;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.mise-à-jours {
	color: #6264a7;
	font-size: 27px;
	font-family: 'Langar', cursive;
}

.GYGBHjcxsjo {
	scroll-behavior: smooth;
}

.laro {

}
.shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

* {box-sizing: border-box;}

.responsive {
  max-width: 100%;
  height: auto;
}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

.img-zoom-container {
  position: relative;
}


.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 240px;
}
.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

.ney {
	position:relative;
	float: right;
	margin-left:39px;
	align-items: center;
	width: 300px;
}

.as {
	font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
}

p.takem {
	font-family: 'Roboto Condensed', sans-serif;
	color: #02be6e;
}

.heartboxcdi {
	background-color: #e4e4e4;
}

.teapit {
	background-color: #f5f5f5;
}

.avatarpic {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	vertical-align: middle;
}

.d41 {
	margin-top: 15px;
	background-color:#f6f5fa ;
}

.d50 {
	float: left;
	display: block;
}

.d50p {
	display: inline;
}

.font-autre{
	color: A4FFBE;
}

.langues {
	color: #212529;
}

.f-gauche .display-b .img-create .avatar{
 display: block;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
	float: left;

	} 

@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');

.f-droite{
	float: right;
}
